main{
  width: 100%;
}
header{
  padding: 20px;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header nav button{
  padding: 10px;
  border-radius: 6px;
  transition: .3s ease;
}

.content-header{
  height: 100vh;
}
.content-header p{
  line-height: 50px;
}
.content-header p span{
  padding: 5px;
  border-radius: 6px;
}

main{
  padding: 0 6%;
}
section{
  margin: 100px 0;
}
.title{
  margin-bottom: 80px;
}
.title h1 span{
  padding: 5px;
  border-radius: 6px;
  line-height: 70px;
}
.text-me span{
  padding: 5px;
  border-radius: 6px;
  line-height: 70px;
}
.text-me p{
  margin-top: 10px;
}
.text-me .social-links{
  margin-top: 30px;
}
.img-me-box{
  border-radius: 10px;
  background-image: url('../assets/me3.png');
  background-position: center -200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-sobre{
  margin-top: 30px;
}

.box-icons-skill{
  max-width: 800px;
  margin: 0 auto;
}
.icons-skill{
  padding: 10px;
  border-radius: 6px;

  filter: grayscale(100%);
  transition: .3s ease;
}
.icons-skill:hover{
  filter: grayscale(0);
}


.grid-projetos{
  margin: 0 auto;
}



.formulario input, .formulario textarea{
  background: #2c2c2c;
  padding: 20px 0;
  padding-left: 10px;

  border-radius: 6px;
}
.formulario button{
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  transition: all 0.3s ease;
}
.formulario button:hover{
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
.sucesso-form{
  padding-left: 10px;
}


footer{
  padding: 20px 6%;
}
footer h1{
  margin-bottom: 10px;
}

.social-links{
  margin-top: 10px;
}
.logo-footer{
  margin-bottom: 20px;
}
/* Remove Visibility */

.sub-text, .text{
  visibility: hidden;
}

@media screen and (max-width: 1500px){
  .sobre-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sobre-content .img-me-box{
    width: 100%;
    max-width: 500px;
    height: 700px;

    background-position: center;

  }
  .sobre-content .text-me{
    width: 100%;
    max-width: 1000px;
  }
  .text-me .social-links{
    justify-content: center;

  }
}

@media screen and (max-width: 1470px){
  .grid-projetos{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 760px){
  .list-header{
    display: none;
  }
}
@media screen and (max-width: 970px){
  .grid-projetos{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 570px){
  .content-header .letter{
    font-size: 100px;
  }
  .content-header p {
    font-size: 22px;
  }
}

@media screen and (max-width: 496px){
  .personal-info-footer{
    margin-bottom: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .personal-info-footer div{
    max-width: 100%;
    text-align: center;
  }
  .personal-info-footer .logo-footer{
    justify-content: center;
  }
}